.modifyWrapper {
  .productListWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    @media screen and (max-width: 900px) {
      justify-content: center;
    }
    h2 {
      margin-bottom: 0;
    }
    .loadMoreBar {
      width: 100%;

      .loadMore {
        cursor: pointer;
        border-radius: 5px;
        padding: 10px 20px;
        width: fit-content;
        color: #4f4d4d;
        margin: auto;
        border: 2px solid #4f4d4d;
      }
    }
  }
}
