.boutiqueSection {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: auto;
  column-gap: 30px;
  @media screen and (max-width: 900px) {
    flex-direction: column-reverse;
    padding: 10px;
  }

  .mainArticle {
    overflow: hidden;

    h2 {
      margin-top: 30px;
      font-size: clamp(30px, 2.5vw, 40px);
      text-align: center;
      font-weight: 500;
    }
    .collections {
      padding: 30px 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      column-gap: 30px;
      row-gap: 20px;
    }
  }
  .boutiqueCategory {
    flex: 1;
    h1 {
      font-size: clamp(30px, 2.5vw, 50px);
    }
    .productListWrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 20px;
      row-gap: 30px;
      column-gap: 30px;
      @media screen and (max-width: 900px) {
        justify-content: center;
      }
      .loadMoreBar {
        width: 100%;

        .loadMore {
          cursor: pointer;
          border-radius: 5px;
          padding: 10px 20px;
          width: fit-content;
          color: #4f4d4d;
          margin: auto;
          font-weight: 500;
          font-size: 17px;
          border: 2px solid #4f4d4d;
        }
      }
    }
  }
}
