.accountSection {
  padding: 30px;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  row-gap: 50px;
  @media screen and (max-width: 800px) {
    padding: 10px;
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
  article {
    padding: 0 30px;
    flex: 1;
    @media screen and (max-width: 600px) {
      padding: 0;
    }
    h2 {
      font-size: clamp(30px, 3vw, 40px);
      margin-bottom: 30px;
      font-weight: 500;
    }
  }
}
