.accountNavLink {
  padding: 20px;
  font-size: clamp(15px, 1.5vw, 25px);
  border-radius: 10px;

  a {
    color: black;
    text-decoration: none;
    @media screen and (max-width: 600px) {
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  }
}

.select {
  background-color: rgba(5, 15, 207, 0.527);
}
