.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productPage {
  display: flex;
  height: fit-content;
  max-width: calc(100vw - 340px);
  flex-direction: row;
  flex: 1;
  column-gap: 40px;
  row-gap: 40px;
  @media screen and (max-width: 1000px) {
    flex-direction: column-reverse;
  }
  @media screen and (max-width: 900px) {
    flex-direction: column-reverse;
    max-width: calc(100vw - 20px);
  }
  .productCarousel {
    flex: 2;
    min-width: 100px;
    max-height: 70vh;
    width: 100%;

    // @media screen and (max-width: 1000px) and (min-width: 950px) {
    //   max-width: 600px;
    // }
    // @media screen and (max-width: 950px) and (min-width: 900px) {
    //   max-width: 500px;
    // }
  }
  .productInfo {
    display: flex;
    flex: 3;
    flex-direction: column;
    row-gap: 30px;
    font-size: clamp(17px, 1.5vw, 20px);
    @media screen and (max-width: 800px) {
      margin-top: 30px;
    }

    h1 {
      font-size: clamp(30px, 2.5vw, 50px);
    }
    .productDescription {
      font-weight: 300;
    }
    .productOrigin {
      span {
        font-weight: 800;
      }
    }
    .productDetail {
      padding: 40px;
      background-color: rgb(241, 241, 241);
      display: flex;
      flex-direction: row;
      column-gap: 15px;
      justify-content: space-between;
      border-radius: 5px;
      @media screen and (max-width: 500px) {
        padding: 30px 10px;
      }
      .productPrice,
      .productWeight,
      .productSize {
        text-align: center;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-wrap: nowrap;
        row-gap: 10px;
        & p:nth-child(2) {
          font-size: clamp(20px, 2vw, 40px);
          font-weight: 600;
        }
      }
    }
    .mainButton {
      box-sizing: border-box;
      width: 100%;
      max-width: 600px;
      margin: auto;
      text-align: center;
      cursor: pointer;
    }
  }
}
