.createArticle {
  padding: 0 30px;
  flex: 1;
  h2 {
    font-size: clamp(30px, 3vw, 40px);
    margin-bottom: 30px;
    font-weight: 500;
  }
  form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    input,
    textarea {
      padding: 10px;
      font-size: 15px;
      border-radius: 5px;
      border: 1px rgb(181, 180, 180) solid;

      color: rgb(46, 45, 45);
      &::placeholder {
        color: rgb(125, 123, 123);
      }
    }

    label {
      font-size: 16px;
    }
    .mainButton {
      min-width: 200px;
      margin: auto;
    }
  }
}
