.progressBar {
  padding: 30px 80px;
  .progressBarWrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 75%;
      height: 2px;
      left: 12.5%;
      top: 21px;
      background-color: rgba(134, 134, 134, 0.519);
      z-index: -1;
    }
    .step {
      width: 25%;
      min-width: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
      .stepNbr {
        background-color: white;
        width: 20px;
        height: 20px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: rgba(27, 26, 26, 0.648);
        font-weight: 600;
        border: 2px rgba(134, 134, 134, 0.519) solid;
      }

      .stepTitle {
        color: rgba(27, 26, 26, 0.648);
      }
      &:nth-child(1) .stepNbr {
        background-color: rgb(63, 159, 63);
        color: white;
      }
    }
  }
}
