.createArticle,
.modifyArticle {
  .backButton {
    margin-bottom: 30px;
  }
  form {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    input,
    textarea {
      padding: 10px;
      font-size: 15px;
      border-radius: 5px;
      border: 1px rgb(181, 180, 180) solid;

      color: rgb(46, 45, 45);
      &::placeholder {
        color: rgb(125, 123, 123);
      }
    }

    label {
      font-size: 16px;
    }
    .mainButton {
      min-width: 200px;
      margin: auto;
    }
    .picturesWrapper {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      row-gap: 20px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .pictureWrapper {
        position: relative;
        max-width: 250px;
        border-radius: 10px;
        overflow: hidden;
        .picture {
          max-height: 150px;
        }
        .pictureDelete {
          cursor: pointer;
          position: absolute;
          background: rgba(0, 0, 0, 0.331);
          top: 10px;
          right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;

          .cross {
            width: 30px;
            height: 30px;
            transform: rotate(45deg);
            position: relative;
            .bar {
              width: 30px;
              height: 2px;
              background-color: white;
              position: absolute;
              left: 0;
              top: 50%;
              &:nth-child(1) {
                transform: rotate(90deg);
              }
            }
          }
        }
      }
    }
  }
}
