.mondialRelayArticle {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .widgetWrapper {
    flex: 1;
  }
  .articleWrapper {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    padding: 20px;
    row-gap: 30px;
    @media screen and (max-width: 800px) {
      flex-direction: column-reverse;
      padding: 0;
    }
  }
  .formWrapper {
    h1 {
      font-size: clamp(25px, 2.5vw, 40px);
      margin-bottom: 40px;
    }
    form {
      display: flex;
      flex-direction: column;
      row-gap: 30px;

      .inputCard {
        width: 100%;
      }
    }
    .priceCard {
      margin: 50px auto;
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      text-align: end;
      font-size: 20px;
      color: rgb(69, 67, 67);
    }
  }
  .MR-Widget {
    margin: 0;
  }
  .MRW-Results {
    z-index: 10;
  }
}
