.collectionSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  h2 {
    font-size: clamp(30px, 2.5vw, 40px);
    text-align: center;
  }
  article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 60px;
    padding: 60px 10%;
  }
}
