.mainSection {
  background-color: black;
  display: flex;
  flex-direction: row;
  padding: 50px;
  @media screen and (max-width: 700px) {
    flex-direction: column;
    padding: 20px;
  }

  aside {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .reflection {
      transform: scaleY(-1);
      opacity: 0.2;
      filter: blur(2px);
    }
    @media screen and (max-width: 1050px) {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  article {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    row-gap: 30px;
    h1 {
      font-size: clamp(35px, 3.5vw, 50px);
      font-weight: 500;
    }
    p {
      line-height: 1.2;
      font-size: clamp(15px, 1.5vw, 30px);
      font-weight: 200;
    }
    .mainButton {
      margin: 20px auto;
    }
  }
}
